<!-- 
FileName: details.ejs
Author(s): Kevin Cornejo-Andrade
WebSite: https://kevinexpress.herokuapp.com/
-->

<% include ../partials/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Survey Title</label> 
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Survey Name" name="surveyTitle" value="<%= surveys.surveyTitle %>" required>
              </div>

              <div class="form-group">
                <label for="EndDateTextField">End Date</label>
                <input type="text" class="form-control" id="EndDateTextField"
                placeholder="12/31/2018" name="endDate" value="<%= surveys.endDate %>"  required>
              </div>

              <% for (let count = 0; count < 1; count++) { %>

                <h3>Question <%= [count] %></h3>

              <div class="form-group">
                <label for="QuestionTitleTextField<%= [count] %>">Question Title</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
                
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>"> 
              </div>

              <div class="form-group">
                <label for="QuestionTextField">Question</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
                
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>">
              </div>

              <div class="form-group">
                <label for="QuestionTextField">Question</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
                
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>">
              </div>

              <div class="form-group">
                <label for="QuestionTextField">Question</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
                
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>">
              </div>

              <div class="form-group">
                <label for="QuestionTextField">Question</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
                
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>">
              </div>

              <div class="form-group">
                <label for="QuestionTextField">Question</label>
                <input type="text" class="form-control" id="QuestionTitleTextField<%= [count] %>"
                placeholder="Survey Quesetion" name="questionTitle<%= [count] %>" value="<%= surveys.questionTitle %>"  required>
               
                <input type="text" class="form-control" id="OptionATextField<%= [count] %>"
                placeholder="Survey Answer" name="optionA<%= [count] %>" value="<%= surveys.optionA %>">
              </div>

               <% } %>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
