<!-- 
FileName: register.ejs
Author(s): Selina Daley
WebSite: https://kevinexpress.herokuapp.com/
Description: multiple choice survey landing page
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    
    <div class="container">
      <div class="row">
        <div id="main-div" class="col-md-offset-3 col-md-6">
          <h3>Survey creation Page </h3>
          
          <a href="/msurveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a M Survey</a>
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Submitted By</th>
              <th class="text-center">End Date</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            
            <% for (let count = 0; count < msurveys.length; count++) { %>
            <% if(msurveys[count].submittedBy == displayName) { %>
                        
            <tr>
              <td class="text-center"><%= msurveys[count].surveyTitle %></td>
              <td class="text-center"><%= msurveys[count].submittedBy %></td>
              <td class="text-center"><%= msurveys[count].endDate %></td>
              <td class="text-center">
              <a href="/msurveys/<%= msurveys[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Edit</a>
               </td>
              <td class="text-center">
              <a href="/msurveys/delete/<%= msurveys[count]._id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i> Delete</a>
              </td>
            </tr>
            <% } %>
            <% } %>
          </table>

    
              <h3>Get Data</h3>
              <a href="/msurveys">LOAD DATA</a>
                <div>
                  <ul class="msurveys">
                   <% for(var i =0; i <msurveys.length;i++) {%>
                    <li class="msurveys"></li>
                    <span><%= msurveys[i].question %></span>
                    <span><%= msurveys[i].optionA %></span>
                    <span><%= msurveys[i].optionB %></span>
                    <span><%= msurveys[i].optionC %></span>
                    <span><%= msurveys[i].optionD %></span>
                    <%}%>
                  </ul>
                </div>

         <!-- <% for (let outerCount = 0; outerCount < msurveys.length; outerCount++) { %>
            <h3><%= msurveys[outerCount].surveyTitle %></h3>
        
            <% for (let count = 0; count < 5; count++) { %>

             <fieldset style="margin-bottom: 25px; border-radius: 15px;">                
                <h4> Question <%= [count+1] %> </h4>
                  <label><%= msurveys[outerCount].question[count].questionTitle %></label><br/>
                  <input id="rdBtnA<%= [count] %>" name="Question<%= [outerCount] %>.<%= [count] %>" type="radio" value="A">
                  a) <%= msurveys[outerCount].question[count].optionA %> <br/>
                  <input id="rdBtnB<%= [count] %>" name="Question<%= [outerCount] %>.<%= [count] %>" type="radio" value="B">
                  b) <%= msurveys[outerCount].question[count].optionB %><br/>
                  <input id="rdBtnC<%= [count] %>" name="Question<%= [outerCount] %>.<%= [count] %>" type="radio" value="C">
                  c) <%= msurveys[outerCount].question[count].optionC %><br/>
                  <input id="rdBtnD<%= [count] %>" name="Question<%= [outerCount] %>.<%= [count] %>" type="radio" value="D">
                  d) <%= msurveys[outerCount].question[count].optionD %><br/>
              </fieldset>

             <% } %>
             <% } %>-->

        </div>
      </div>
    </div>

  
   

    <my-app></my-app>


<% include ../partials/footer.ejs %>


